
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            background: #2b61d6;
            padding: 40px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .input-group {
            margin-bottom: 15px;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-right: 20px;
        }

        button {
            width: 100%;
            padding: 10px;
            background: #5779c2;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            border-color: #ccc;
        }

        button:hover {
            background: #282188;
        }

        #message {
            margin-top: 15px;
        }
        h2{
            text-align: center;
            text-decoration: double;
            color: white;
        }
    